.create-btn-container,
.card-container {
  display: flex;
  width: 384px;
  height: 280px;
  border-radius: 16px;
  background-color: var(--white);
  box-shadow: 0px 2px 12px #00000014;
  cursor: pointer;
}

.create-btn-container {
  justify-content: center;
  align-items: center;
}

.card-container {
  padding: 24px;
  flex-direction: column;
}

.sender-container {
  display: flex;
  margin-bottom: 16px;
  padding-bottom: 15px;
  gap: 14px;
  border-bottom: 1px solid var(--grayscale-200);
  justify-content: space-between;
}

.sender-img {
  width: 56px;
  height: 56px;
  border-radius: 100px;
  border: 1px solid var(--grayscale-200);
  object-fit: cover;
  margin-right: 14px;
}

.sender-profile {
  display: flex;
  flex-direction: row;
}

.sender-text-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.sender {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.sender-relation {
  display: block;
  width: 41px;
  height: 20px;
  padding: 0 8px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.5px;
}

.family {
  background-color: var(--green-100);
  color: var(--green-500);
}

.friend {
  background-color: var(--blue-100);
  color: var(--blue-500);
}

.acquaintance {
  background-color: var(--beige-100);
  color: var(--beige-500);
}

.coworker {
  background-color: var(--purple-100);
  color: var(--purple-500);
}

.card-content {
  width: 336px;
  height: 106px;
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -1px;
  color: var(--grayscale-600);
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.card-content::-webkit-scrollbar {
  display: none;
}

.card-create-date {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.5px;
  color: var(--grayscale-400);
}

@media (max-width: 768px) {
  .create-btn-container,
  .card-container {
    width: 352px;
    height: 284px;
  }

  .card-container {
    padding: 28px 24px;
  }

  .card-content {
    width: 304px;
    height: 110px;
  }
}

@media (max-width: 360px) {
  .create-btn-container,
  .card-container {
    width: 320px;
    height: 230px;
  }

  .card-container {
    padding: 32px 20px;
  }

  .card-content {
    width: 272px;
    height: 56px;
  }
}

.delete-button {
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid #cccccc;
}
