.editor-link-btn {
  position: fixed;
  bottom: 50px;
  right: 50px;
  text-decoration: none;
  padding: 20px;
  background: #ffffff90;
  border-radius: 100px;
  box-shadow: 0px 0px 12px #00000030;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  color: var(--black);
}

.card-list-container {
  padding: 80px 0;
  display: grid;
  grid-template-columns: repeat(3, 384px);
  justify-content: center;
  align-items: start;
  gap: 24px;
}
