.createButton {
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid #cccccc;
  padding: 8px 16px;
  cursor: pointer;
  width: 157px;
  height: 40px;
  font-size: 16px;
  position: relative;
}

.createButton:hover {
  background-color: #f2f2f2;
}

/* 태블릿 */

@media (max-width: 768px) {
  .createButton {
    padding: 8px 16px;
  }
}

/* 모바일 */
@media (max-width: 360px) {
  .createButton {
    padding: 12px 20px;
    font-size: 14px;
    gap: 10px;
    margin-right: 16px;
  }
}
