.banner-container,
.banner-container-even {
  display: flex;
  padding: 0 60px;
  width: 100%;
  height: 324px;
  justify-content: space-between;
  align-items: center;
  background-color: #f6f8ff;
  border: none;
  border-radius: 16px;
}

.banner-container-even {
  flex-direction: row-reverse;
}

.banner-txt-container {
  display: flex;
  max-width: 268px;
  flex-direction: column;
  gap: 16px;
}

.banner-point-txt {
  display: inline-block;
  margin-bottom: 8px;
  padding: 6px 12px;
  white-space: nowrap;
  border: none;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  background-color: #9935ff;
  color: white;
}

.banner-title-txt {
  font-size: clamp(18px, 2vw, 24px);
  font-weight: 700;
  line-height: 36px;
}

.banner-subtitle-txt {
  font-size: clamp(12px, 1.2vw, 16px);
  line-height: 28px;
  font-weight: 400;
  color: #555555;
}

.banner-img {
  max-width: 640px;
  max-height: 160px;
  width: 60%;
}

/* 테블릿 */
@media (max-width: 768px) {
  .banner-container,
  .banner-container-even {
    height: 362px;
    flex-direction: column;
    padding: 30px 0;
    align-items: start;
    justify-content: space-evenly;
  }

  .point-txt-wrapper {
    padding: 0 30px;
  }

  .banner-txt-container {
    max-width: 100%;
    gap: 8px;
  }

  .banner-img {
    width: 100%;
    max-height: 160px;
  }
}

/* 모바일 */
@media (max-width: 360px) {
  .banner-container {
    height: 362px;
  }

  .banner-title-txt {
    white-space: normal;
  }

  .banner-subtitle-txt {
    white-space: normal;
  }
}
