@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

.SenderFormField {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Noto Sans";
}

.SenderFormField input {
  flex: 1;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid #d1d5db;
  height: 50px;
  padding: 12px 16px;
  margin-top: 12px;
}

.SenderFormField input:focus {
  outline: none;
  border: 1px solid #6b7280;
}

.SenderFormField input::placeholder {
  color: #6b7280;
  font-size: 16px;
}
